

#div6 {
	text-align:center;
}

#div6 h2 p {
	padding:2px 3px 4px 3px;
}

#div1 h2 { 
	color:black;
	background-color:green; 
	font-size:30px;
} 

#div2 h2 { 
	color:black;
	background-color:green; 
	font-size:30px;
} 

#div3 h2 { 
	color:black;
	background-color:green; 
	font-size:30px;
}

#div4 h2 { 
	color:black;
	background-color:green; 
	font-size:30px;
} 

#div5 h2 { 
	color:black;
	background-color:green; 
	font-size:30px;
} 
