

#div6 {
	text-align:center;
}




#div6 h2 p {
	padding:2px 3px 4px 3px;
}

#div1 h2 { 
	color:black;
	background-color:green; 
	font-size:30px;
	text-align:center;
} 

#div2 h3 { 
	color:black; 
	font-size:22px;}


#div2 h2 { 
	color:black;
	background-color:green; 
	font-size:30px;
	text-align:center;
} 

#div3 h2 { 
	color:black;
	background-color:green; 
	font-size:30px;
	text-align:center;
}

#div3 h3 { 
	color:black; 
	font-size:22px;}

#div4 h2 { 
	color:black;
	background-color:green; 
	font-size:30px;
	text-align:center;
} 

#div5 h2 { 
	color:black;
	background-color:green; 
	font-size:30px;
	text-align:center;
} 

